<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.pcm.confidentiality.context.editor.sirius.design.Activator"
               id="org.palladiosimulator.pcm.confidentiality.context.editor.sirius.design"
	       name="org.palladiosimulator.pcm.confidentiality.context.editor.sirius.design">
    </component>
  </extension>
</plugin>
 		